@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
body {
  font-family: "Noto Serif", serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
a:link {
  color: #ff0000;
}
a:visited {
  color: #750606;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4px;
  background: #fff;
  margin: 16px 16px;
  width: 25%;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}

.card > img {
  border-radius: 4px;
  flex: 1;
  align-self: center;
  width: 100%;
  object-fit: contain;
}

.card .card-content {
  text-align: start;
  padding: 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex: 3;
  flex-direction: column;
}
.card-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
}
.card-detail > img {
  width: 30%;
}
.justify-center {
  margin: 0 auto;
}

@media (max-width: 600px) {
  .list .card {
    width: 40%;
  }
  .card-detail {
    flex-direction: column;
  }
  .card-detail > img {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .list .card {
    width: 100%;
  }
  .card-detail {
    flex-direction: column;
  }
  .card-detail > img {
    width: 100%;
  }
}
.login {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 4px;
  background: #fff;
  margin: 16px auto;
  max-width: 50%;
  padding: 16px 8px;
  justify-content: space-between;
}
input {
  margin: 4px;
}
.login:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}
button,
input[type="submit"] {
  background: #cb4e4e;
  color: #fff;
  padding: 8px 0;
  border-radius: 7px;
  box-shadow: 0 2px #ab3c3c;
  border: none;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
